.greeter h2{
    color: #000;
    font-weight: 600;
}
.greeter h2 span{
    color: #33ff00;
}
.greeter h4{
    padding:6px;
    text-align:right;
}

/*
* Tabbed Component primary styles
*/
.card-container-primary > .ant-tabs-card > .ant-tabs-content {
    margin-top: -16px;
  }
.card-container-primary > .ant-tabs-card > .ant-tabs-content > .ant-tabs-tabpane {
    background: #fff;
    padding: 16px;
  }
  
  .card-container-primary > .ant-tabs-card > .ant-tabs-bar {
    border-color: #fff;
  }
  
  .card-container-primary > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
    border-color: transparent;
    background: transparent;
  }
  
  .card-container-primary > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active {
    border-color: #fff;
    background: #fff;
  }
/*
* Tabbed component styles end
*/

@media screen and (max-width: 600px){
  .greeter h2{
    margin:0px
  }
  .greeter h4{
    text-align: left;
    padding-left: 0px;
  }
}