.strategy_watcher_main{
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
}
.strategy_watcher_header{
    padding:15px;
    border-bottom:1px solid #D0D0D0;
}
.strategy_watcher_title{
    margin-bottom:5px;
    font-size:17px;
    font-weight: 600;
}
.strategy_watcher_cards{
    height:calc(100vh - 100px);
    overflow-y:auto;
}
.line{
    height:5px;
    width:70px;
    background-color: #33ff00;
}