
/*
*  Card styles
*/

.ant-layout-content{
    height: 100vh;
}
.result_cards{
  overflow-y: auto;
  height:calc(100vh - 220px);
}

@media screen and (max-width: 500px){
  .result_cards{
    height:calc(100vh - 250px);
  }
}

  /*
  * Card styles end
  */
  